::ng-deep .ng-select-container .ng-value-container {
    overflow: hidden;

    .ng-value {
        background-color: transparent !important;
        border-color: transparent;
        width: 100%;
    }
}

i-bs {
    cursor: pointer;
}

.badge {
    font-size: .75rem;
    line-height: 1.3;
}

.ws-normal {
    white-space: normal;
}
